# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd
import numpy as np
import os

** Read Salaries.csv as a dataframe called sal.**

In [4]:
df = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [5]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [8]:
df['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [12]:
df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [16]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [18]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPay']

24    270324.91
Name: TotalPay, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [25]:
max = df['TotalPay'].max()
df[df['TotalPay'] == max]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [26]:
max = df['TotalPay'].max()
df[df['TotalPay'] == df['TotalPay'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [51]:
df.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [53]:
len(df['JobTitle'].unique())

2159

** What are the top 5 most common jobs? **

In [38]:
df['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [79]:
y = df[df['Year']==2013]
r = y['JobTitle'].value_counts()
cou = 0
for x in r:
    if x == 1:
        cou = cou + 1  
cou

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [101]:
count = 0
for x in df['JobTitle']:
    if "CHIEF" in x:
        count = count + 1
count

204

In [104]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

sum(df['JobTitle'].apply(lambda x: chief_string(x)))

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [119]:
df[['JobTitle', 'TotalPayBenefits']]

                                                JobTitle  TotalPayBenefits
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         567595.43
1                        CAPTAIN III (POLICE DEPARTMENT)         538909.28
2                        CAPTAIN III (POLICE DEPARTMENT)         335279.91
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         332343.61
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         326373.19
5                              ASSISTANT DEPUTY CHIEF II         316285.74
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         315981.05
7                         DEPUTY DIRECTOR OF INVESTMENTS         307899.46
8                     BATTALION CHIEF, (FIRE DEPARTMENT)         303427.55
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         302377.73
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         299494.17
11                       CAPTAIN III (POLICE DEPARTMENT)         297608.92
12                           EXECUTIVE CONTRACT EMPLOYEE         294580.02
13                                     DEPARTMENT HEAD V         292671.62
14                    BATTALION CHIEF, (FIRE DEPARTMENT)         286347.05
15                    COMMANDER III, (POLICE DEPARTMENT)         286213.86
16                                     DEPARTMENT HEAD V         284720.43
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES         278569.21
18                    BATTALION CHIEF, (FIRE DEPARTMENT)         276434.22
19                            ASSISTANT MEDICAL EXAMINER         274550.25
20                            ASSISTANT MEDICAL EXAMINER         274190.27
21                            ASSISTANT MEDICAL EXAMINER         273771.21
22                             CAPTAIN, FIRE SUPPRESSION         273702.71
23                    BATTALION CHIEF, (FIRE DEPARTMENT)         270672.63
24                             CAPTAIN, FIRE SUPPRESSION         270324.91
25                                       CHIEF OF POLICE         267992.59
26                             CAPTAIN, FIRE SUPPRESSION         265784.56
27                    BATTALION CHIEF, (FIRE DEPARTMENT)         265463.46
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)         264074.60
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         261366.14
...                                                  ...               ...
148624                                      Senior Clerk             12.89
148625                                  Registered Nurse              7.24
148626                                     Account Clerk              0.00
148627                                   General Laborer              0.00
148628                                   General Laborer              0.00
148629                                Transcriber Typist              0.00
148630                                         Carpenter              0.00
148631                       Communications Dispatcher 1              0.00
148632                        Protective Services Worker              0.00
148633                                   General Laborer              0.00
148634                               Transit Car Cleaner              0.00
148635                                   General Laborer              0.00
148636                               Arborist Technician              0.00
148637                            Transit Fare Inspector              0.00
148638                                       Electrician              0.00
148639                                         Custodian              0.00
148640                           Parking Control Officer              0.00
148641                                      Museum Guard              0.00
148642                                       Sign Worker              0.00
148643                           Parking Control Officer              0.00
148644                      Stationary Eng, Sewage Plant              0.00
148645                         Human Services Technician              0.00
148646                                      Not provided              0.00
148647                       Communications Dispatcher 2              0.00
148648                                         Custodian              0.00
148649                                         Custodian              0.00
148650                                      Not provided              0.00
148651                                      Not provided              0.00
148652                                      Not provided              0.00
148653                        Counselor, Log Cabin Ranch           -618.13

[148654 rows x 2 columns]

In [123]:
df[['JobTitle', 'TotalPayBenefits']].corr(method='kendall')

                  TotalPayBenefits
TotalPayBenefits               1.0

In [125]:
df['title_len'] = df['JobTitle'].apply(len)
df[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [127]:
df['TotalPayBenefits'].corr()

TypeError: corr() missing 1 required positional argument: 'other'

# Great Job!